* {
  margin: 0;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: outfit, sans-serif;
  max-width: 1440px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 350px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  padding: 12px;
  padding-bottom: 36px;
}

.heading {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  padding: 10px 8px;
  font-size: 1.8rem;
  margin-left: 2px;
  margin-right: 2px;
  text-align: center;
  line-height: 1.4;
}

.detail-text {
  font-size: 16px;
  color: hsl(220, 15%, 55%);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 300px;
  }
  img {
    max-height: 300px;
  }
  .card {
    padding: 10px;
    padding-bottom: 30px;
  }
  .heading {
    padding: 16px 6px 16px 6px;
    line-height: 1.2;
    font-size: 1.4rem;
  }

  .detail-text {
    font-size: 14px;
    line-height: 1.2;
  }
}
